<body id="ds_body" class="desktop    has-pa" dir="ltr">

  <div class="top_bar">
    <div class="bg_left"> </div>
    <div class="bg_right"> </div>
  </div>
  <div class="top_shadow"> </div>
  <div class="top_background"> </div>

  <div class="questlog_placeholder">&nbsp;</div>

  <table id="main_layout" cellspacing="0">
    <tbody>
      <tr style="height: 48px;">
        <td class="topbar left fixed"></td>
        <td class="topbar center fixed">

        </td>
        <td class="topbar right fixed"> </td>

      </tr>
      <tr class="shadedBG">

        <td class="bg_left">
          <div class="bg_left"> </div>
        </td>

        <td class="maincell" style="width: 850px;">
          <div style="position:fixed;">

          </div>



          <br class="newStyleOnly">







          <!-- *********************** CONTENT BELOW ************************** -->
          <table align="center" id="contentContainer" width="100%">
            <tbody>
              <tr>
                <td>
                  <table class="content-border" width="100%" cellspacing="0">
                    <tbody>
                      <tr>
                        <td id="inner-border">
                          <table class="main" align="left">
                            <tbody>
                              <tr>
                                <td id="content_value">
                                  <div id="scripts-table-div" class="">
                                    <table class="scrips-table"
                                      style="border: 7px solid rgba(121,0,0,0.71); border-image-slice: 7 7 7 7; border-image-source: url(https://dsen.innogamescdn.com/asset/cf2959e7/graphic/border/frame-gold-red.png);">
                                      <tbody>
                                        <tr>
                                          <th style="text-align:center" colspan="11">Scripts</th>
                                        </tr>
                                        <tr>
                                          <th style="text-align:center" >Link</th>
                                          <th style="text-align:center" >Script URL</th>
                                          <th style="text-align:center" >Descrição</th>
                                        </tr>
                                        <tr>
                                          <td>
                                            <span class="quickedit-vn" data-id="76243" data-length="32">
                                              <span class="quickedit-content">
                                                <a href="assets/scripts/rename_vilages.js" target="_blank">
                                                  <span class="quickedit-label" data-text="Renomeador de aldeias">
                                                    Renomeador de aldeias v1.0 </span>
                                                </a>
                                              </span>
                                            </span>
                                          </td>
                                          <td >
                                            <pre>javascript:$.getScript('https://fernandoigorrr.github.io/scripts-tribalwars/assets/scripts/rename_vilages.js');</pre>
                                          </td>
                                          <td id="script-detail" align="center">
                                            <p>Renomeia o nome de todas a vilas de determinado grupo para o nome escolhido no campo de texto.(Só funciona na tela de vizualizações)
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table> <br>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
        <td class="bg_right">
        </td>
      </tr>

      <tr>
        <td class="bg_leftborder"></td>
        <td></td>
        <td class="bg_rightborder"></td>
      </tr>
      <tr class="newStyleOnly">
        <td class="bg_bottomleft">&nbsp;</td>
        <td class="bg_bottomcenter">&nbsp;</td>
        <td class="bg_bottomright">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <div id="world_selection_clicktrap" class="evt-world-selection-toggle"></div>
  <div id="world_selection_popup">
    <div class="servers-list-top"></div>
    <div id="servers-list-block"></div>
    <div class="servers-list-bottom"></div>
  </div>
  <div id="bottom">
    <div id="footer">
      <a href="#" id="unsupported-browser">
        <img src="https://dsbr.innogamescdn.com/asset/5f6dd3c6/graphic/error.png" class="" data-title=""> Navegador não
        suportado
      </a>
      <div id="linkContainer">
        <a href="#" class="world_button_active evt-world-selection-toggle">Mundo 126</a>
        <a href="/game.php?village=86801&amp;screen=extforum" class="footer-link" target="_blank">Comunidade do
          Fórum</a>
        &nbsp;-&nbsp;
        <a href="https://help.tribalwars.com.br" class="footer-link" target="_blank">Ajuda</a>
        &nbsp;-&nbsp;
        <a href="/game.php?village=86801&amp;screen=settings&amp;mode=ticket" class="footer-link" target="_blank">Enviar
          ticket de suporte</a>
        &nbsp;-&nbsp;
        <a href="/game.php?village=86801&amp;screen=settings&amp;mode=ref&amp;source=bottom_menu"
          class="footer-link">Convide um jogador </a>
        &nbsp;-&nbsp;
        <a href="/game.php?village=86801&amp;screen=memo" class="footer-link">Bloco de notas</a>
        &nbsp;-&nbsp;
        <a href="/game.php?village=86801&amp;screen=&amp;action=logout&amp;h=e001c83f" target="_top"
          class="footer-link">Sair</a>
        &nbsp;-&nbsp;
        <a href="https://www.facebook.com/TribalWars" class="footer-link" target="_blank">Facebook</a>
        &nbsp;-&nbsp;
        <a href="https://innogam.es/DS-Discord" class="footer-link" target="_blank">Discord</a>
      </div>
    </div>
  </div>
  <div id="side-notification-container"></div>
  <div id="tooltip" style="left: 820px; right: auto; top: 154px; display: none;" class="">
    <h3>Argila - 3267 por hora</h3>
    <div class="body" style="display: none;"></div>
    <div class="url" style="display: none;"></div>
  </div>
</body>
